{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block title %} Система анкетирования сотрудников для определения уровня зрелости процессов управления информационной безопасностью {% endblock %}
{% block content %}
{{super()}}
<br><br><br><br><br><br><br><br><br><br><br><br>
<center>
    <form action="{{ url_for('login', next=request.args.get('next', '')) }}" method="POST">
        {{ forms.render(form) }}
        <br>
        <input type="submit" value="Войти">
    </form>
</center>
{% endblock content %}