{% macro render(form) %}
<table>
{% for field in form if field.type not in ["HiddenField", "CSRFTokenField"] %}
    <tr>
        <td> {{ field.label }} </td>
        <td> {{ field }} </td>
    </tr>
{% endfor %}
</table>

{% for field in form if field.type not in ["HiddenField", "CSRFTokenField"] %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

{{ form.hidden_tag() }}
{% endmacro %}

{% macro render_choices(form) %}
<table>
<!--{{ form.variants.label }}-->
{% for subfield in form.variants %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
</table>
{% for field in form if field.type not in ["HiddenField", "CSRFTokenField"] %}
    {% if field.errors %}
        <ul class="errors">
            {% for error in field.errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
{{ form.hidden_tag() }}
{% endmacro %}


{% macro render_tests(form, process_name) %}
    <h1>Тест пользователя {{g.user.username }} по процессу "{{ process_name }}"</h1>
    {% for entry in form.questions.entries %}
        {{ entry.label }}
        <table>
        {% for subfield in entry.variants %}
            <tr>
                <td> {{ subfield }} </td>
                <td> {{ subfield.label }} </td>
            </tr>
        {% endfor %}
        </table>
        <br/>
        <!--{{ form.hidden_tag() }}-->
    {% endfor %}
{% endmacro %}


{% macro navigation() %}
<section>
    <div>
        Вы вошли как пользователь <b>{{ g.user.username }}</b>. <a href="{{ url_for('logout') }}">Выйти</a><br><br>
    </div>
</section>
{% endmacro %}


{% macro whoami() %}
    {% block title %} webtests - {{ g.user.username }} {% endblock %}
{% endmacro %}