<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {{ title }} {% endblock %}</title>
    </head>
    <body>
        <header>
            <h1 align="center">{{ self.title() }}</h1>
        </header>
        {% set messages = get_flashed_messages() %}
        {% if messages %}
        <section>
	        {% for message in messages %}
	            <ul><li>{{ message }}</li></ul>
	        {% endfor %}
        </section>
        {% endif %}
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>