{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block title %} CSO {% endblock %}
{% block content %}
{{ super() }}
{{ forms.navigation() }}
<form action="{{url_for('cso')}}" method="POST">
{% if is_headmaster_started_testing.status %}
    {% if investment_level %}
        Инвестиционный уровень: "<b>{{ investment_level.one().choice_name() }}</b>"
    {% endif %}
    {% if not is_cso_choose_processes.status %}
            <p>Выберите процессы организации:</p>
            {{ forms.render_choices(form.processes) }}
            <p><input type="Submit" value="Отправить"></p>
    {% else %}
        {% if processes %}
            <p>Были выбраны следующие процессы:</p>
            <ul>
            {% for process in processes %}
                <li>{{ process }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
    {{ forms.render_statistic(is_cso_answered_on_questions) }}
{% else %}
    Тестирование ещё не началось.
{% endif %}
</form>
{% endblock %}