{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{{ forms.whoami() }}
{% block content %}
{{ super() }}
{{ forms.navigation() }}
<form action="{{url_for('cso')}}" method="POST">
{% if is_headmaster_started_testing.status %}
    {% if investment_level %}
        Инвестиционный уровень: "<b>{{ investment_level.one().answer }}</b>"
    {% endif %}
    {% if not is_cso_choose_processes.status %}
            <p>Выбрать процессы организации:</p>
            {{ forms.render_choices(form) }}
            <input type="Submit" value="Отправить">
    {% else %}
        {% if processes %}
            <p>Были выбраны следующие процессы:</p>
            <ul>
            {% for process in processes.all() %}
                <li>{{ process.answer }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% else %}
    Тестирование ещё не началось.
{% endif %}
</form>
{% endblock %}