{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block content %}
{{ super() }}
{{ forms.navigation() }}
<form action="{{url_for('headmaster')}}" method="POST">
{% if headmaster_is_started_testing.status %}
    {% if investment_level %}
        Инвестиционный уровень: "<b>{{ investment_level.one().answer }}</b>"
    {% endif %}
    <p>
        <input type="Submit" value="Закончить тестирование">
    </p>
{% else %}
        Выбрать инвестиционный уровень организации:
        {{ forms.render_choices(form) }}
        <input type="Submit" value="Начать тестирование">
{% endif %}
</form>
{% endblock %}