{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block title %} Страница руководителя организации {% endblock %}
{% block content %}
{{ super() }}
{{ forms.navigation() }}
<form action="{{url_for('headmaster')}}" method="POST">
{% if headmaster_is_started_testing.status %}
    {% if investment_level %}
        Инвестиционный уровень: "{{ investment_level.one().choice_name() }}"
    {% endif %}
    <p>
        {{ forms.render_statistic(is_cso_answered_on_questions) }}
        <input type="Submit" value="Закончить анкетирование">
    </p>
{% else %}
        <p>Выберите <a class="htooltip">инвестиционный уровень<span>ISM3 Level 1. Этот уровень должен привести к значительному снижению риска, связанный с техническими угрозами, при минимальных инвестициях в основные процессы. Этот уровень рекомендуется для организаций с невысокими целями ИБ при маловероятном риске;<br><br>
ISM3 Level 2. Этот уровень должен привести к дальнейшему снижению риска от технических угроз при умеренных инвестициях в процессы. Этот уровень рекомендуется для организаций с нормальными целями ИБ в средне вероятной среде риска, которые должны продемонстрировать хорошую практику партнерам и стремление, чтобы избежать инцидентов;<br><br>
ISM3 Level 3. Этот уровень должен привести к сокращению рисков с высокой вероятностью технических угроз при серьезных инвестициях в процессы. Этот уровень рекомендуется для организаций с высокими целями ИБ в группах риска высокой вероятности; <br><br>
ISM3 Level 4. Этот уровень должен привести к сокращению рисков с самой высокой вероятностью от технических и внутренних угроз при серьезных инвестициях в области ИБ процессов. Этот уровень рекомендуется для организаций, которые зависят от конкретных требований (например, коммунальные услуги, финансовые учреждения) с высокими целями ИБ с нормальной или высокой степенью риска; <br><br>
ISM3 Level 5. Разница между этим уровнем и ISM3 Level 4 является обязательное использование технических показателей. Зрелые организации, имеющий некоторый опыт, работающего под управлением системы ISM3 Level4, могут оптимизировать и постоянно улучшать свою систему ISM на этом уровне. При оценке зрелости процессов 5 уровня входные данные по метрикам должны совпадать с базовым описанием всех метрик для этого процесса, т.е. наличие всех метрик. </span></a>
 организации:</p>
        {{ forms.render_choices(form.investment_levels) }}
        <p><input type="Submit" value="Начать анкетирование"></p>
{% endif %}
</form>
{% endblock %}