{% extends "helpers/layout.html" %}
{% import "helpers/forms.html" as forms %}
{% block title %} Страница руководителя организации {% endblock %}
{% block content %}
{{ super() }}
{{ forms.navigation() }}
<form action="{{url_for('headmaster')}}" method="POST">
{% if headmaster_is_started_testing.status %}
    {% if investment_level %}
        Инвестиционный уровень: "<b>{{ investment_level.one().choice_name() }}</b>"
    {% endif %}
    <p>
        {{ forms.render_statistic(is_cso_answered_on_questions) }}
        <input type="Submit" value="Закончить анкетирование">
    </p>
{% else %}
        <p>Выберите инвестиционный уровень организации:</p>
        {{ forms.render_choices(form.investment_levels) }}
        <p><input type="Submit" value="Начать анкетирование"></p>
{% endif %}
</form>
{% endblock %}